/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root{
    /* COLORS */
--Purple: hsl(259, 100%, 65%);
--Lightred: hsl(0, 100%, 67%);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);

/* Body Copy */

--Fontsizeinputs: 32px;
}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: var(--Off-white);
}
small{
    color: var(--Lightred);
    font-size: 11px;
}
#section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: bisque; */
}
.section_main_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    border-radius: 20px 20px 100px 20px;
    padding: 30px;
}
.sectionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date__wrap{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    margin-bottom: .8rem;
    margin-left: -2rem;
    width: 80%;
    overflow: hidden;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    width: 100%;

    /* margin-left: -5rem; */
}


.label{
   display: block;
   margin-bottom: .5rem;
   font-size: 12px;
   color: var(--Smokey-grey);
}
.input{
    width: 80px;
    border: 1px solid var(--Smokey-grey);
    border-radius: 0.25rem;
    padding: 10px 7px;
    background-color: transparent;
    color: var(--Off-black);

}
.label.err{
    color: var(--Lightred);
}

.input.errr{
    outline: none;
    border: 1.5px solid var(--Lightred);
}
.label2.err{
    color: var(--Lightred);
}
.label3.err{
    color: var(--Lightred);
}
.input2.errr{
    outline: none;
    border: 1.5px solid var(--Lightred);
}
.input3.errr{
    outline: none;
    border: 1.5px solid var(--Lightred);
}
/* .day input::placeholder{
    color: var(--Off-black);
    font-size: 15px;
}
.day input:focus{
    outline: none;
    border: 1.5px solid var(--Purple);
} */


.date_wrapper{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-self: center;
    margin-left: -5rem;

}
.date_wrapper h1{
    font-size: 50px;
    color: var(--Off-black);
    font-weight: 800;
    font-family: "Popins", sans-serif;

}
.--years{
    text-align: center;
    display: flex;
    align-items: center;
    gap: .5rem;
   
}
.first_line{
    font-size: 50px;
    color: var(--Purple);
}
.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -.5rem;
}
.hr_line{
    width: 320px;
    height: 1px;
    background-color: black;
}
.calc_btn{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--Purple);
    color: var(--White);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.calc_btn img{
    width: 40px;
    height: 40px;
}
.calc_btn:hover{
    background-color: var(--Off-black);
}

@media (max-width: 480px) {
    #section{
        padding: 80px;
    }
    .section_main_wrapper {
        padding: 20px;
    }
    .day input{
        width: 60px;
    }
    .date__wrap{
        gap: .5rem;
        width: 90%;

    }

    .date_wrapper h1{
        font-size: 30px;

    }
    .first_line{
        font-size: 30px;
    }
    .button_wrapper{
        margin-top: 1.3rem;
    }
    .hr_line{
        width: 280px;
        position: relative;
        margin-bottom: 20px;
        
    }
    .calc_btn{
        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: -20px ;
        
        
    }
    .calc_btn img{
        width: 30px;
        height: 30px;
    }
    small{
        color: var(--Lightred);
        font-size: 9px;
    }
}
@media (max-width: 320px) {
    .hr_line{
        width: 250px;
    }
}
